<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/style.css">
    

    
    <body>

        {{>header}}
    
    <p>{{name}}</p>
    <form > 
        <input type="text" placeholder="Location">
        <button >Search</button>
    </form>
    <p id="msg1"></p>
    <p id="msg2"></p>
    </body>
    {{>footer}} 
    <script src='js/script.js'></script>
</html>